
$ratio          : 5/3;

$fontsize       : 16;
$baseline       : 23;
$baselineTopPad : 5;
$baselineBotPad : 6;

$baseV          : $baseline/$fontsize + 0em;
$baseH          : $baseV * $ratio;

$boxV      : $baseV * 2;
$boxH      : $baseH * 2;
$boxTopPad : $baselineTopPad/$baseline * $baseV;
$boxBotPad : $baselineBotPad/$baseline * $baseV;

$boxVPad   : $boxTopPad+$boxBotPad;
$boxHPad   : $boxVPad * $ratio;

body {
    font-size: 1em;
    line-height: $baseV;
}

.box {
    padding: $boxTopPad $boxHPad/2 $boxBotPad $boxHPad/2;
}

.box-1 {
    width:  $boxH;
    height: $boxV;
}
.box-1 {
    width:  $boxH;
    height: $boxV;
}
.box-1 {
    width:  $boxH;
    height: $boxV;
}

/* Static rules */

body {
    margin: 0;
    padding: 0;
    font-famly: Georgia, serif;
    color: #999;
    //height: 320px;
    margin: 0 auto;
}
.container {
    padding: $boxTopPad $boxHPad/2 $boxBotPad $boxHPad/2;
    position: relative;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.overlay {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
}
.box {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    float: left;
}
.box:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.4);
}
.box:nth-child(3n) {
    background-color: rgba(0, 0, 0, 0.3);
}
.box:nth-child(5n) {
    background-color: rgba(0, 0, 0, 0.2);
}
.box:nth-child(7n) {
    background-color: rgba(0, 0, 0, 0.1);
}

.junk {
    //display: none;
}

/* Media queries */

@for $i from 1 through 14 {
    $zoom: (($i+1)/$i - 1)/2 + 1;
    $from: $boxH * $i;
    $to:   $boxH * ($i+1);
    @media only screen and (min-width : $from) and (max-width : $to){
        .container, .overlay {
            width:  $from;
        }
    }
    @media only screen and (min-width : $from * $zoom) and (max-width : $to){
        body {
            font-size: $zoom + 0em;
        }
    }
}
