body {
  font-size: 1em;
  line-height: 1.4375em; }

.box {
  padding: 0.3125em 0.57292em 0.375em 0.57292em; }

.box-1 {
  width: 4.79167em;
  height: 2.875em; }

.box-1 {
  width: 4.79167em;
  height: 2.875em; }

.box-1 {
  width: 4.79167em;
  height: 2.875em; }

/* Static rules */
body {
  margin: 0;
  padding: 0;
  font-famly: Georgia, serif;
  color: #999;
  margin: 0 auto; }

.container {
  padding: 0.3125em 0.57292em 0.375em 0.57292em;
  position: relative;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.overlay {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0; }

.box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  float: left; }

.box:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.4); }

.box:nth-child(3n) {
  background-color: rgba(0, 0, 0, 0.3); }

.box:nth-child(5n) {
  background-color: rgba(0, 0, 0, 0.2); }

.box:nth-child(7n) {
  background-color: rgba(0, 0, 0, 0.1); }

/* Media queries */
@media only screen and (min-width: 4.79167em) and (max-width: 9.58333em) {
  .container, .overlay {
    width: 4.79167em; } }
@media only screen and (min-width: 7.1875em) and (max-width: 9.58333em) {
  body {
    font-size: 1.5em; } }
@media only screen and (min-width: 9.58333em) and (max-width: 14.375em) {
  .container, .overlay {
    width: 9.58333em; } }
@media only screen and (min-width: 11.97917em) and (max-width: 14.375em) {
  body {
    font-size: 1.25em; } }
@media only screen and (min-width: 14.375em) and (max-width: 19.16667em) {
  .container, .overlay {
    width: 14.375em; } }
@media only screen and (min-width: 16.77083em) and (max-width: 19.16667em) {
  body {
    font-size: 1.16667em; } }
@media only screen and (min-width: 19.16667em) and (max-width: 23.95833em) {
  .container, .overlay {
    width: 19.16667em; } }
@media only screen and (min-width: 21.5625em) and (max-width: 23.95833em) {
  body {
    font-size: 1.125em; } }
@media only screen and (min-width: 23.95833em) and (max-width: 28.75em) {
  .container, .overlay {
    width: 23.95833em; } }
@media only screen and (min-width: 26.35417em) and (max-width: 28.75em) {
  body {
    font-size: 1.1em; } }
@media only screen and (min-width: 28.75em) and (max-width: 33.54167em) {
  .container, .overlay {
    width: 28.75em; } }
@media only screen and (min-width: 31.14583em) and (max-width: 33.54167em) {
  body {
    font-size: 1.08333em; } }
@media only screen and (min-width: 33.54167em) and (max-width: 38.33333em) {
  .container, .overlay {
    width: 33.54167em; } }
@media only screen and (min-width: 35.9375em) and (max-width: 38.33333em) {
  body {
    font-size: 1.07143em; } }
@media only screen and (min-width: 38.33333em) and (max-width: 43.125em) {
  .container, .overlay {
    width: 38.33333em; } }
@media only screen and (min-width: 40.72917em) and (max-width: 43.125em) {
  body {
    font-size: 1.0625em; } }
@media only screen and (min-width: 43.125em) and (max-width: 47.91667em) {
  .container, .overlay {
    width: 43.125em; } }
@media only screen and (min-width: 45.52083em) and (max-width: 47.91667em) {
  body {
    font-size: 1.05556em; } }
@media only screen and (min-width: 47.91667em) and (max-width: 52.70833em) {
  .container, .overlay {
    width: 47.91667em; } }
@media only screen and (min-width: 50.3125em) and (max-width: 52.70833em) {
  body {
    font-size: 1.05em; } }
@media only screen and (min-width: 52.70833em) and (max-width: 57.5em) {
  .container, .overlay {
    width: 52.70833em; } }
@media only screen and (min-width: 55.10417em) and (max-width: 57.5em) {
  body {
    font-size: 1.04545em; } }
@media only screen and (min-width: 57.5em) and (max-width: 62.29167em) {
  .container, .overlay {
    width: 57.5em; } }
@media only screen and (min-width: 59.89583em) and (max-width: 62.29167em) {
  body {
    font-size: 1.04167em; } }
@media only screen and (min-width: 62.29167em) and (max-width: 67.08333em) {
  .container, .overlay {
    width: 62.29167em; } }
@media only screen and (min-width: 64.6875em) and (max-width: 67.08333em) {
  body {
    font-size: 1.03846em; } }
@media only screen and (min-width: 67.08333em) and (max-width: 71.875em) {
  .container, .overlay {
    width: 67.08333em; } }
@media only screen and (min-width: 69.47917em) and (max-width: 71.875em) {
  body {
    font-size: 1.03571em; } }
