body, html {
  margin: 0;
  padding: 0; }

.baseline {
  font-size: 16px;
  font-famly: Georgia, serif;
  position: relative;
  color: #999999; }

.overlay {
  position: absolute;
  z-index: 2; }

.box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  float: left; }

/* Media queries */
/* Phones */
@media only screen and (min-width: 1px) {
  .baseline {
    font-size: 16px;
    line-height: 23px;
    padding: 0 10.0px; }

  .box {
    margin: 5px 10.0px 7px 10.0px; }

  .box-1 {
    width: 56.66667px;
    height: 34px; }

  .box-2 {
    width: 133.33333px;
    height: 80px; }

  .box-3 {
    width: 286.66667px;
    height: 172px; } }
/* Tablet portrait */
@media only screen and (min-width: 768px) and (max-width: 1023) {
  .baseline {
    font-size: 16px;
    line-height: 23px;
    padding: 0 10.0px; }

  .box {
    margin: 5px 10.0px 7px 10.0px; }

  .box-1 {
    width: 56.66667px;
    height: 34px; }

  .box-2 {
    width: 133.33333px;
    height: 80px; }

  .box-3 {
    width: 286.66667px;
    height: 172px; } }
/* Tablet landscape */
@media only screen and (min-width: 1024px) {
  .baseline {
    font-size: 16px;
    line-height: 23px;
    padding: 0 10.0px; }

  .box {
    margin: 5px 10.0px 7px 10.0px; }

  .box-1 {
    width: 56.66667px;
    height: 34px; }

  .box-2 {
    width: 133.33333px;
    height: 80px; }

  .box-3 {
    width: 286.66667px;
    height: 172px; } }
/* Desktops and laptops ----------- */
/* Large screens ----------- */
/* Devices */
.device {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  color: #fff;
  text-align: right;
  padding: 5px 12px; }

@media only screen and (min-width: 1px) and (max-width: 479px) {
  .device-iphone-portrait {
    width: 320px;
    height: 480px;
    background-color: rgba(0, 0, 255, 0.3);
    z-index: 10; } }
@media only screen and (min-width: 480px) and (max-width: 567px) {
  .device-iphone4-landscape {
    width: 480px;
    height: 320px;
    background-color: rgba(0, 0, 255, 0.3);
    z-index: 9; } }
@media only screen and (min-width: 567px) and (max-width: 767px) {
  .device-iphone5-landscape {
    width: 568px;
    height: 320px;
    background-color: rgba(0, 0, 255, 0.3);
    z-index: 8; } }
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .device-ipad-portrait {
    width: 768px;
    height: 1024px;
    background-color: rgba(0, 255, 0, 0.2);
    z-index: 7; } }
@media only screen and (min-width: 1024px) {
  .device-ipad-landscape {
    width: 1024px;
    height: 768px;
    background-color: rgba(0, 255, 0, 0.2);
    z-index: 6; } }
